/* google fonts plugins  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Roboto&display=swap');

body{
    font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
}

/* form style */
.info-form{
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
}
.info-form fieldset{
    padding: 40px 40px;
}

.info-form fieldset div input{
    height: 30px;
    width: 50%;
    /* text-align: center; */
    border-radius: 5px;
    margin-top: 10px;
}
.info-form fieldset div input{
    padding-left: 10px;
}

.buttons{
    display: flex;
    justify-content:flex-start; 
}
/* .add-btn{
    display: flex;
    justify-content: center; 
} */

.add-btn button{
    width: 100px;
    font-weight: 800;
    cursor: pointer;
    /* border-radius: 10px; */
}
#edit-btn button{
    width: 100px;
    font-weight: 800;
    cursor: pointer;
    margin-left: 50px;
}

/* style sheet for table */
.data-table{
    margin: 50px 0;
}
.data-table table{
    border: 1px solid gray;
    margin-left: auto;
    margin-right: auto;
}
.data-table td{
    padding: 10px 70px;
    text-align: center;
    border: 1px solid gray;
}

.table-header td{
    font-weight: 800;
}

/* style for creating delete modal */
.delete-modal{
    display: none;
    height: 100px;
    width: 350px;
    border: 1px solid gray;
    padding: 10px 30px;
    margin-left: auto;
    margin-right: auto;
}
.delete-modal p{
    text-align: center;
}

.conf-canc-btn{
    display: flex;
    justify-content: center;
}
.conf-canc-btn button{
    height: 40px;
    width: 80px;
    margin-left: 10px;
    cursor: pointer;
}


/* style sheet for edit section */
#edit-btn{
    display: none;
<<<<<<< Updated upstream
}
=======
}
>>>>>>> Stashed changes
